
ul.snsbtniti2{
    white-space: nowrap;
    text-align: left;
}
.snsbtniti2 li{
    display: inline;
}


ul.header-logo{
    height: 600px;
    width: 100%;
    background-image: url("cropYAM85_sukitooruokinawanoumi.jpg");
    text-align: center;   
}
ul.header-logo li{
    display: inline;
}
.header-list-contents{
    font-size: 100px;
    padding: 0px 10px;
    white-space: nowrap;
    color: white;
    margin-left: 50px;
}
.header-explanation{
    font-size: 30px;
    color: yellow;
    border-spacing:2px;
}
.header-list-smartphone{
    font-size: 30px;
    padding: 10px 0px;
    white-space: nowrap;
    color:black;
}


.main-container{
    font-size: 50px;
    padding: 0px,20px;
    color:white;
    text-align: center;
    background-color: chartreuse;
    
}
.main-contents{
    font-size: 40px;
    padding: 50%,50%;
    text-align: center;
    color:rgb(0, 166, 243);
    border:dotted 2px black;
    background-color: khaki;
}
ul{
    list-style: none;
    padding-left: 0;
    
}

.list-contents{
    text-align: center;
}

.list-contents li{
    display: inline;
    font-size: 49px;
    padding: 50px 20px;
    margin: 20px 0px;
}
.list-A{
    background-color: khaki;
}
.list-B{
    background-color: lawngreen;
}
.list-C{
    background-color: rgb(0, 113, 205);
}
.list-D{
    background-color: orchid;
}
.list-E{
    background-color: tomato;
}

.main-list{
    position:relative
}
.list-contents{
    position: absolute;
    top: 50%;
}


.footer-list{
    font-size: 15px;
    background-color: turquoise;
    color: black;
    text-align:right;
}

